@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    /* cores primaria*/
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);

    /* cores neutras*/
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
}

body {
    font-family: 'Red Hat Display', sans-serif;
    background-color: var(--Pale-blue);
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

section{
    background-color: var(--Very-pale-blue);
    width: 416px;
    border-radius: 20px;
    box-shadow: 0px 25px 25px 0px #0000000C;
}

#imagem-card{
    width: 100%;
    margin-bottom: 32px;
    border-radius: 20px 20px 0px 0px;
}

h1{
    text-align: center;
    color: var(--Dark-blue);
    margin-bottom: 16px;
    font-size: 27px;
    font-weight: 900;
}

p#texto{
    text-align: center;
    color: var(--Desaturated-blue);
    padding-inline: 30px;
    margin-bottom: 40px;
    line-height: 25px;
}

div#informações{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}

div#plano-preço{
    display: flex;
    align-items: center;
}

div#plano{
    display: flex;
    flex-direction: column;
    line-height: 25px;
}

picture#ícone-nota-musical{
    margin-right: 20px;
}

a#preço{
    color: var(--Bright-blue);
}

strong{
    color: var(--Dark-blue);
    font-weight: 900;
}

p{
    color: var(--Desaturated-blue);
}

a#preço{
    font-weight: 900;
    font-size: 15px;
}

#botao{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 45px;
}

input{
    cursor: pointer;
    border: none;
    box-shadow: 0px 25px 25px 0px #0000000C;
    background-color: var(--Bright-blue);
    color: var(--Very-pale-blue);
    font-weight: 900;
    height: 50px;
    width: 325px;
    border-radius: 10px;
    margin-bottom: 30px;
}

a#cancelar{
    color: var(--Desaturated-blue);
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}

